import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <h1 class="text-3xl font-bold mb-4">履歴書</h1>

  <section class="mb-8">
    <h2 class="text-2xl font-semibold">日下 真旗</h2>
    <p>
      広島国際大学 保健医療学部 救急救命学科<br>
      (ITエンジニアを目指し中退)<br>
      様々な業種でアルバイトや契約社員として経験を積み、顧客対応力や業務改善力を培ってきました。現在はIT業界への転身を目指し、独学でソフトウェア開発の学習を進めています。Pythonなどのプログラミング言語を学び、ソフトウェアエンジニアとして社会に貢献したいと考えております。
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-2xl font-semibold">スキル</h2>
    <ul class="list-disc list-inside">
      <li>Python (ProgateでPython I, II, IIIクリア)</li>
      <li>Java (UdemyでJava 17 Masterclass等を受講)</li>
      <li>HTML, CSS, JavaScript (CyTechエンジニア教育プログラム修了)</li>
      <li>PHP, Laravel, jQuery, MySQL (SAMURAI ENGINEER Webエンジニアコース修了)</li>
      <li>Word (表作成、図版挿入、文書作成)</li>
      <li>Excel (基本操作、SUM, IF, VLOOKUP関数、ピボットテーブル、マクロ、VBA習得中)</li>
      <li>PowerPoint (プレゼンテーション資料作成、アニメーション効果)</li>
      <li>タイピング (Untypingで平均2.4文字/秒)</li>
      <li>音声合成技術 (Pyttsx3, gTTS)</li>
      <li>Webアプリケーション開発 (Streamlit)</li>
      <li>データ処理 (NumPy, Pandas)</li>
      <li>バージョン管理 (GitHub)</li>
    </ul>
  </section>

  <section class="mb-8">
    <h2 class="text-2xl font-semibold">経験</h2>
    <ul class="list-disc list-inside">
      <li>
        株式会社３Backs - コロナワクチン接種コールセンター<br>
        (2021年10月〜2023年9月)<br>
        - 顧客対応、クレーム対応、エスカレーション業務<br>
        - 1日30〜50件のインバウンド/アウトバウンド対応<br>
        - 高い顧客満足度を維持<br>
        - 複雑な問題やクレームを迅速に上長や専門部署に報告し、問題解決に貢献
      </li>
      <li>
        株式会社３Backs - 事務処理、データ入力<br>
        (2022年10月〜2023年9月)<br>
        - 専用ソフトを使用したデータ入力業務<br>
        - 入力ミスを最小限に抑え、タイピング速度と精度を向上<br>
        - 困難な状況でも冷静に対応し、顧客の信頼回復に努める
      </li>
      <li>
        人財BANK株式会社 - 三菱UFJアウトバウンドコールセンター<br>
        (2023年10月〜2024年10月)<br>
        - 顧客対応、クレーム対応、エスカレーション業務<br>
        - 1日50〜60件のインバウンド/アウトバウンド対応<br>
        - 困難な状況でも冷静に対応し、顧客の信頼回復に努める<br>
        - 適切な判断で問題を上長に報告し、迅速な解決に貢献
      </li>
      <li>
        人財BANK株式会社 - データ入力、修正<br>
        (2024年7月〜現在)<br>
        - 各種システムやExcelなどのソフトウェアを使用して、データを入力<br>
        - 細部に注意を払い、データの誤入力を防止<br>
        - データ入力や簡単な関数の使用方法を習得<br>
        - 作業手順の見直しにより、処理時間を短縮
      </li>
      <li>
        Webアプリケーション開発<br>
        - Pythonを用いてテキストから音声データに変換するWebアプリを開発<br>
        - Streamlit Cloudでホスティング、GitHubでバージョン管理<br>
        - Pyttsx3, gTTS, NumPy, Pandas, Streamlit File Uploader等を使用
      </li>
      <li>
        執筆活動<br>
        - 8年間で40冊の本を5カ国に出版<br>
        - Amazon Kindleで月平均約300冊販売
      </li>
    </ul>
  </section>
</BaseLayout>