---
layout: "../layouts/BaseLayout.astro"
title: "Masaki Kusaka"
---

<main class="p-8">
  <section class="text-center">
    <h1 class="text-4xl font-bold mb-4">Welcome to Masaki Kusaka's Website</h1>
    <p class="text-lg">私はAIと未来社会の発展に向けて活動しています。</p>
    <div class="mt-6">
      <a href="https://github.com/MKYUKI" target="_blank" class="text-blue-500 hover:underline text-lg">GitHub</a> |
      <a href="https://www.paypal.com/paypalme/MasakiKusaka" target="_blank" class="text-blue-500 hover:underline text-lg">PayPal</a> |
      <a href="https://www.youtube.com/@MK_AGI" target="_blank" class="text-blue-500 hover:underline text-lg">YouTube</a>
    </div>
  </section>
</main>
