---
import { Astro } from 'astro';
---
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Masaki KusakaのWebサイト</title>
  <link rel="stylesheet" href="/styles/global.css" />
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
</head>
