<footer class="footer">
  <p>© 2024 Masaki Kusaka. All Rights Reserved.</p>
  <p>
    <a href="https://github.com/MKYUKI" target="_blank">GitHub</a> | 
    <a href="https://x.com/MK_ASI1" target="_blank">X（Twitter）</a> | 
    <a href="https://www.youtube.com/@MK_AGI" target="_blank">YouTube</a> | 
    <a href="https://amazon.co.jp/s?i=digital-text&rh=p_27%3AMasaki+Kusaka&s=relevancerank" target="_blank">Amazon JP</a>
  </p>
</footer>
