---
---
<footer class="bg-gray-800 text-white py-6">
  <div class="container mx-auto text-center">
    <p class="mb-4">&copy; 2024 Masaki Kusaka. All Rights Reserved.</p>
    <div class="flex justify-center space-x-4">
      <a href="https://github.com/MKYUKI" target="_blank" class="hover:text-blue-400">
        <img src="/favicon.svg" alt="GitHub" class="h-6 w-6" />
      </a>
      <a href="https://www.paypal.com/paypalme/MasakiKusaka" target="_blank" class="hover:text-blue-400">
        <img src="/social_img.webp" alt="PayPal" class="h-6 w-6" />
      </a>
      <a href="https://www.youtube.com/@mk_agi" target="_blank" class="hover:text-blue-400">
        <img src="/social_img.webp" alt="YouTube" class="h-6 w-6" />
      </a>
      <a href="https://x.com/MK_ASI1" target="_blank" class="hover:text-blue-400">
        <img src="/social_img.webp" alt="X (Twitter)" class="h-6 w-6" />
      </a>
      <a href="https://www.facebook.com/" target="_blank" class="hover:text-blue-400">
        <img src="/social_img.webp" alt="Facebook" class="h-6 w-6" />
      </a>
      <a href="https://www.amazon.co.jp/s?i=digital-text&rh=p_27%3AMasaki+Kusaka&s=relevancerank&text=Masaki+Kusaka&ref=dp_byline_sr_ebooks_1" target="_blank" class="hover:text-blue-400">
        <img src="/social_img.webp" alt="Amazon JP" class="h-6 w-6" />
      </a>
      <a href="https://www.amazon.com/s?i=digital-text&rh=p_27%3AMasaki+Kusaka&s=relevancerank&text=Masaki+Kusaka&ref=dp_byline_sr_ebooks_1" target="_blank" class="hover:text-blue-400">
        <img src="/social_img.webp" alt="Amazon US" class="h-6 w-6" />
      </a>
    </div>
  </div>
</footer>
