<footer class="p-4 bg-gray-800 text-white text-center">
  <p>&copy; 2024 Masaki Kusaka. All rights reserved.</p>
  <p>
    Follow me:
    <a href="https://github.com/MKYUKI" target="_blank" class="text-blue-400 hover:underline">GitHub</a> |
    <a href="https://www.youtube.com/@MK_AGI" target="_blank" class="text-blue-400 hover:underline">YouTube</a> |
    <a href="https://x.com/MK_ASI1" target="_blank" class="text-blue-400 hover:underline">X (Twitter)</a>
  </p>
</footer>
