<header class="header">
  <nav>
    <ul>
      <li><a href="https://github.com/MKYUKI" target="_blank">GitHub</a></li>
      <li><a href="https://x.com/MK_ASI1" target="_blank">X（Twitter）</a></li>
      <li><a href="https://www.youtube.com/@MK_AGI" target="_blank">YouTube</a></li>
      <li><a href="https://amazon.co.jp/s?i=digital-text&rh=p_27%3AMasaki+Kusaka&s=relevancerank" target="_blank">書籍一覧</a></li>
      <li><a href="mailto:masaki@example.com">お問い合わせ</a></li>
    </ul>
  </nav>
</header>
