<header class="flex justify-between items-center p-4 bg-white shadow">
  <h1 class="text-2xl font-bold">Masaki Kusaka</h1>
  <nav>
    <ul class="flex space-x-4">
      <li><a href="https://github.com/MKYUKI" target="_blank" class="text-blue-500 hover:underline">GitHub</a></li>
      <li><a href="https://www.paypal.com/paypalme/MasakiKusaka" target="_blank" class="text-blue-500 hover:underline">PayPal</a></li>
      <li><a href="https://www.youtube.com/@MK_AGI" target="_blank" class="text-blue-500 hover:underline">YouTube</a></li>
      <li><a href="https://x.com/MK_ASI1" target="_blank" class="text-blue-500 hover:underline">X (Twitter)</a></li>
      <li><a href="https://huggingface.co" target="_blank" class="text-blue-500 hover:underline">HuggingFace</a></li>
    </ul>
  </nav>
</header>
