---
---
<div class="p-4 bg-gray-700">
  <p class="text-sm">© 2024 Masaki Kusaka</p>
  <div class="flex space-x-2 mt-2">
    <a href="https://github.com/MKYUKI" target="_blank" rel="noopener noreferrer">
      <img src="/social_img.webp" alt="GitHub" class="h-6 w-6" />
    </a>
    <a href="https://www.paypal.com/paypalme/MasakiKusaka" target="_blank" rel="noopener noreferrer">
      <img src="/social_img.webp" alt="PayPal" class="h-6 w-6" />
    </a>
    <!-- 他のソーシャルリンクも同様に追加 -->
  </div>
</div>
