---
---
<nav class="flex-grow">
  <ul class="mt-4">
    <li class="py-2 px-4 hover:bg-gray-700">
      <a href="/" class="block">ホーム</a>
    </li>
    <li class="py-2 px-4 hover:bg-gray-700">
      <a href="/projects" class="block">プロジェクト</a>
    </li>
    <li class="py-2 px-4 hover:bg-gray-700">
      <a href="/blog" class="block">ブログ</a>
    </li>
    <li class="py-2 px-4 hover:bg-gray-700">
      <a href="/cv" class="block">履歴書</a>
    </li>
    <li class="py-2 px-4 hover:bg-gray-700">
      <a href="/contact" class="block">お問い合わせ</a>
    </li>
  </ul>
</nav>
