---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<html lang="ja">
  <BaseHead />
  <body>
    <Header />
    <main class="container mx-auto p-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
